*{
    box-sizing: border-box;
    font-family:sans-serif;
}


.span{
    position: relative;
    font-weight: 400;
    bottom: 6.5px;
    margin-left: 4px;
    

}


.main{
    color: rgb(46, 8, 83);
}

.button1{
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 35px;
}
.button2 {
    color: rgb(46, 8, 83);
    border-radius: 5px;
    width: 23%;
    height: 35px;
}
