.backgroundHeader {
    background-color: rgb(195, 13, 13);
    width: 265.9px;
    height: 30px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding-top: 15px;
    color: white;
    display: inline-block;
}

.hot {
    position: relative;
    width: 50px;
    bottom: 50px;
    left: 100px;
}

.all {
    border: 10px solid rgba(128, 128, 128, 0.236);
    width: 17.5%;
    border-radius: 5px;
}

.textYerllow {
    color: yellow;
}

.textgray {
    color: gray;
}

.Data {
    text-align: center;
}

.button {
    text-align: center;
}

.button1 {
    background-color: red;
    border-radius: 30px;
    border: 0px;
    padding: 20px;
    width: 130px;

}

.button2 {
    background-color: rgb(80, 71, 71);
    border-radius: 30px;
    border: 0px;
    padding: 20px;
    width: 100px;

}

.icon {
    position: relative;
    bottom: 90px;
    right: 40px;
}

.icon2 {
    position: relative;
    bottom: 55px;
    right: 30px;
}