body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img{
    position: relative;
    top: 300px;
}

.modal {
    width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    padding-bottom: 10px;
    z-index: 10;
}

.modal-header {
    background: #f8f9fa;
    padding: 15px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.modal-header .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    padding: 15px;
}

.modal-body label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: left;
}

.modal-body input,
.modal-body textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-body input[disabled] {
    background: #f0f0f0;
}

.modal-body textarea {
    height: 80px;
    resize: none;
}

.modal-footer {
    padding: 10px;
    background: #f8f9fa;
    border-top: 1px solid #ddd;
    text-align: right;
}

.modal-footer button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.close-btn {
    background: #6c757d;
    color: white;
}

.send-btn {
    background: #007bff;
    color: white;
    margin-left: 10px;
}

.close-btn:hover {
    background: #5a6268;
}

.send-btn:hover {
    background: #0056b3;
}